<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.musicplayer">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.All_file"
            android:label="@string/activity_All_file"
            android:parentActivityName="com.example.android.musicplayer.activity.MainActivity">
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.musicplayer.activity.MainActivity" />
        </activity>
        <activity
            android:name=".activity.Contents_Of_Folder"
            android:label="@string/activity_Contents_Of_Folder"
            android:parentActivityName="com.example.android.musicplayer.activity.MainActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.musicplayer.activity.MainActivity" />
        </activity>
    </application>

</manifest>